html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 100%;
    background-color: #f0f0f1;
}

.login-text {
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.username {
   
    height: 40px;
    border-radius: 5px;
    width: 240px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    outline: none;
    margin-left: calc(50% - 120px);
}

.userpsd {
     margin-left: calc(50% - 120px);
    height: 40px;
    border-radius: 5px;
    width: 240px;
 
    border: none;
    outline: none;

}
.userpsd::placeholder,.username::placeholder{
    text-align: center;
    font-size: 16px;
}
.loginBth{
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background-color:#889db7;
    border: none;
    outline: none;
    margin-left: calc(50% - 100px);
    margin-top: 50px;
}
.loginAgreement{
    margin-top: 30px;
    display: flex;
    font-size: 14px;
     margin-left: calc(50% - 140px);
}
.loginAgreement span{
color: #324c92;
}
.registerBtn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #dadadb;
    margin-top: 100px;
      margin-left: calc(50% - 25px);
      font-size:40px;
      color:#1b1b1c;
      line-height: 50px;
      text-align: center ;
      display: flexf;
      flex-direction: column;
}
.register{
    font-size: 18px;
    color:#1b1b1c;
 
}