html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
     width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: #f0f0f1;
    
}
.register-text{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.phonenum,.userpsd,.userpsd2,.verify{
    width: 200px;
    height: 30px;
    background-color: white;
    margin-top: 40px;
    margin-left: calc(50% - 100px);
    border: none;
    outline: none;
    border-radius: 5px;
}
.verify{
    display: flex;
}
.verifycontent{
    width: 80px;
    height: 30px;
    background-color:#889db7;
    text-align: center;
    line-height: 30px;
}
.verify input{
    
    width: 120px;
     border: none;
    outline: none;
    
}
.regsiterBtn{
width: 200px;
height: 30px;
text-align: center;
line-height: 30px;
margin-top: 30px;
 margin-left: calc(50% - 100px);
 border: none;
 outline: none;
 cursor: pointer;
  background-color:#889db7;
}

